---
import Layout from '../layouts/Layout.astro';

const pageTitle = "About Me";
const identity = {
    firstName: "Thomas",
    country: "France",
    occupation: "Senior Frontend Engineer",
    hobbies: ["Natation", "Musculation", "Jeux vidéos", "Voyages"],
};

const skills = ["HTML", "CSS", "JavaScript", "TypeScript", "React", "Astro", "Writing Docs"];

---

<Layout title={pageTitle}>
    <main>
        <a href="/">Home</a>
        <a href="/blog">Blog</a>
        <a href="/about/">About</a>

        <h1>{pageTitle}</h1>
        <h2>... and my new Astro site!</h2>

        <p>I am working through Astro's introductory tutorial. This is the second page on my website, and it's the first one I built myself!</p>

        <p>This site will update as I complete more of the tutorial, so keep checking back and see how my journey is going!</p>

        <p>Here are a few facts about me:</p>
        <ul>
            <li>My name is {identity.firstName}.</li>
            <li>I live in {identity.country} and I work as a {identity.occupation}.</li>
            {identity.hobbies.length >= 2 &&
              <li>Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}</li>
            }
        </ul>
        <p>My skills are:</p>
        <ul>
            {skills.map((skill) => <li>{skill}</li>)}
        </ul>
    </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }

  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
</style>
