---
import '../styles/global.css';
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from '../components/BlogPost.astro';

const pageTitle = "Thomas Duforet";
const allPosts = await Astro.glob('./posts/*.md');
---

<BaseLayout tabTitle={pageTitle}>
    <main>
        <article>
            <h2>Présentation</h2>
            <hr/>
            <div class="presentation">
                <p>
                    Je m'appelle <strong>Thomas</strong>, développeur front-end passionné et spécialisé dans la
                    création d'applications web avec <strong>React</strong> et <strong>Typescript</strong>.
                </p>
                <p>
                    Actuellement, je travaille chez <strong class="leboncoin">Leboncoin</strong>, où j'ai l'opportunité
                    de contribuer à
                    à un produit utilisé chaque jour par des millions de français 🙂
                </p>
                <p>
                    Au cours de ma carrière, j'ai également eu l'opportunité de collaborer sur des projets pour des
                    entreprises comme <strong>Decathlon</strong>, <strong>Norauto</strong>, et <strong>Galeries
                    Lafayette</strong>, des expériences qui m'ont permis de relever des défis techniques variés et
                    d'enrichir mon expertise front-end.
                </p>
                <p>
                    Sur ce blog, je partagerai mes connaissances, mes découvertes et mes conseils en développement
                    front-end, avec un accent particulier sur React et Typescript.
                </p>

                <p class="closing">
                    Merci de prendre le temps de me lire ! J’espère que tu trouveras mes articles utiles et
                    enrichissants.
                </p>
            </div>

        </article>

        <article>
            <div>
                <h2>Articles</h2>
                <hr/>
            </div>

          {allPosts && allPosts.length > 0 ?
                  <ul>
                    {allPosts.map((post) =>
                            <BlogPost url={post.url} title={post.frontmatter.title} date={post.frontmatter.pubDate}
                                      description={post.frontmatter.description} tags={post.frontmatter.tags}/>)}
                  </ul> : <span>Il n'y a pas encore d'article</span>}

        </article>
    </main>
</BaseLayout>

<style>
  main {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 4rem;
    margin-top: 2rem;
  }

  h2 {
    margin-block: 0;
  }

  hr {
    border: 1px solid #e7e5e4;
  }

  strong {
    color: #1e3a8a;
  }

  .leboncoin {
    color: #ec5a13;
  }

  :global(.dark) hr {
    border: 1px solid #292524;
  }

  :global(.dark) strong {
    color: #93c5fd;
  }

  :global(.dark) strong.leboncoin {
    color: #ec5a13;
  }

  ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 1rem;
  }

  .presentation {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .presentation p {
    margin-block: 0;
    margin-bottom: 12px;
  }

  .leboncoin-icon {
    width: 24px;
    height: 24px;
    border-radius: 2px;
  }
</style>

