---
import Tag from "./Tag.astro";
const {title, url, date, description, tags} = Astro.props


const formattedDate = new Intl.DateTimeFormat('fr-FR', {
  day: 'numeric',
  month: 'long',
  year: 'numeric'
}).format(new Date(date));
---
<li>
    <a href={url}>
        <div class="post-info">
            <span class="title">{title}</span>
            <span class="description">{description}</span>

            <div class="tags">
              {tags.map((tag: string) => (
                      <Tag tag={tag}/>))}
            </div>

        </div>

        <span class="publication-date">{formattedDate}</span>
    </a>
</li>


<style>
  .post-info {
    display: flex;
    flex-direction: column;
    flex: 2;
  }

  .title {
    font-weight: bold;
    font-size: 18px;
  }


  .publication-date {
    flex: 1;
    font-size: 16px;
    text-align: center;
  }

  .tags {
    margin-top: 8px;
    display: flex;
    gap: 8px;
  }


  @media screen and (min-width: 636px) {
    .post-info {
      flex: 6;
    }

    .publication-date {
      flex: 1;
    }
  }

  a {
    display: flex;
    text-decoration: none;
    color: black;
    padding: 1rem;
    border-radius: 4px;
    justify-content: space-between;
  }

  a:hover {
    background-color: #e7e5e4;
  }

  :global(.dark) a:hover {
    background-color: #292524;
  }

  :global(.dark) a {
    color: white;
  }

</style>