---
import BaseLayout from './BaseLayout.astro';
import Tag from "../components/Tag.astro";
const {frontmatter} = Astro.props;


const formattedDate = new Intl.DateTimeFormat('fr-FR', {
  day: 'numeric',
  month: 'long',
  year: 'numeric'
}).format(new Date(frontmatter.pubDate));

const {minutesRead} = Astro.props.frontmatter;
---

<BaseLayout tabTitle={frontmatter.title}>
    <main>
        <h1>{frontmatter.title}</h1>
        <div class="article-header">
            <div class="tags">
              {frontmatter.tags.map((tag: string) => (
                      <a href={`/tags/${tag}`}>
                          <Tag tag={tag}/>
                      </a>
              ))}
            </div>
            <div class="reading-time">
              {minutesRead}
            </div>

            <div class="illustration">
              {frontmatter.image && <img src={frontmatter.image.url} alt={frontmatter.image.alt}/>}
            </div>
        </div>
        <slot/>
    </main>
</BaseLayout>

<style>
  main {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-top: 2rem;
  }

  .reading-time {
    font-style: italic;
  }

  .illustration {
    align-self: center;
  }

  .illustration img {
    width: 350px;
  }

  @media screen and (min-width: 636px) {
    .illustration img {
      width: 600px;
    }
  }

  .article-header {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 32px;
  }

  a {
    text-decoration: none;
    color: black;
  }

  :global(.dark) a {
    color: white;
  }

  .tags {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
  }

</style>