---
import BaseLayout from './BaseLayout.astro';
import Tag from "../components/Tag.astro";
const {frontmatter} = Astro.props;


const formattedDate = new Intl.DateTimeFormat('fr-FR', {
  day: 'numeric',
  month: 'long',
  year: 'numeric'
}).format(new Date(frontmatter.pubDate));
---

<BaseLayout tabTitle={frontmatter.title}>
    <main>
        <h1>{frontmatter.title}</h1>
        <div class="tags">
          {frontmatter.tags.map((tag: string) => (
                  <a href={`/tags/${tag}`}>
                      <Tag tag={tag}/>
                  </a>
          ))}
        </div>
        <div>
          {formattedDate}
        </div>
      {frontmatter.image && <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt}/>}
        <slot/>
    </main>
</BaseLayout>

<style>
  main {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-top: 2rem;
  }

  a {
    text-decoration: none;
    color: black;
  }

  :global(.dark) a {
    color: white;
  }

  .tags {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
  }

</style>